#:tombi schema.strict = false
"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"
[user]
name = "Max S"
email = "150921823+maxschipper@users.noreply.github.com"

[ui]
default-command = "log"
merge-editor = ":builtin"
movement.edit = true
pager = "less -FRX"
paginate = "auto"

[aliases]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]



# # tug - move the nearest bookmark to the nearest non-empty change at or before @
# tug = ["bookmark", "move", "--from", "closest_bookmark(@)", "--to", "closest_nonempty(@)"]

# # sync - move the nearest bookmark and current git branch to the nearest non-empty change at or before @
# sync = ["util", "exec", "--", "bash", "-c", """
# set -euo pipefail
# jj tug
# git switch `jj closestbookmark`
# """, ""]

# # closestbookmark - show the name of the nearest bookmark at or before @
# closestbookmark = ["util", "exec", "--", "bash", "-c", """
# jj log --no-graph -r 'closest_bookmark(@)' -T 'stringify(local_bookmarks.map(|b| b.name()).join("\n")).first_line()++"\n"'
# """, ""]

# [revset-aliases]

# 'closest_bookmark(to)' = 'heads(::to & bookmarks())'
# 'closest_nonempty(to)' = 'heads(::to ~ empty())'
