#:tombi schema.strict = false
"$schema" = "https://jj-vcs.github.io/jj/latest/config-schema.json"
[user]
name = "Max S"
email = "150921823+maxschipper@users.noreply.github.com"

[ui]
default-command = "log"
merge-editor = ":builtin"
movement.edit = true
pager = "less -FRX"
paginate = "auto"
