[mgr]
# ratio = [1,2,3]
ratio = [2,4,5]
show_hidden = true
show_symlink = true
# title_format = "{cwd}"

[preview]
wrap = "yes"
max_width = 3000
max_height = 3000

[opener]
edit = [ { run = '$HOME/.config/yazi/helix-with-title.sh "$@"', block = true, for = "unix" } ]
glow = [ { run = 'glow -p "$@"', block = true, orphan = false, for = "unix", desc = "open using glow" } ]
imv = [ { run = 'imv "$@"', block = true, orphan = false, for = "linux", desc = "open using imv" } ]
mpv = [ { run = 'mpv "$@"', orphan = true, for = "linux", desc = "open using mpv" } ]
zathura-sanbox = [ { run = 'zathura-sandbox "$@"', orphan = true, for = "unix", desc = "open using Zathura in sandbox-mode" } ] # sandbox doesnt allow opening docs with "o"; also crashes when hot reloading
zathura = [ { run = 'zathura "$@"', orphan = true, for = "unix", desc = "open using Zathura" } ]
# xournalpp = [ { run = 'xournalpp "$@"', orphan = true, for = "unix", desc = "open using Xournal++" } ] # can use open instead
dragondrop = [ { run = 'dragon-drop -x -a "$@"', block = true, orphan = false, for = "linux", desc = "Drag and Drop" } ]
wallpaper = [ { run = 'swww img --transition-type any "$@"', block = false, orphan = false, for = "linux", desc = "Set as wallpaper" } ]

[open]
prepend_rules = [
  { mime = "image/*", use = ["imv","wallpaper"]},
  { mime = "{audio,video}/*", use = "mpv"},

  # only mime filter works, name is broken??
  # { name = "*.pdf", use = ["zathura","open"] },
  { mime = "application/pdf", use = ["zathura","open"] },

  # { name = "*.md", use = [ "edit", "glow" ] },
  { mime = "text/markdown", use = [ "edit", "glow" ] },

  # { name = "*.xopp", use = [ "open" ] },
  { mime = "application/xopp", use = [ "open" ] },
]
append_rules = [
	{ name = "*", use = [ "edit" ,"open" , "dragondrop" ] },
]



[plugin]
prepend_previewers = [
  # Archive previewer
  { mime = "application/*zip",            run = "ouch" },
  { mime = "application/x-tar",           run = "ouch" },
  { mime = "application/x-bzip2",         run = "ouch" },
  { mime = "application/x-7z-compressed", run = "ouch" },
  { mime = "application/x-rar",           run = "ouch" },
  { mime = "application/x-xz",            run = "ouch" },
  # mediainfo
  { mime = "{image,audio,video}/*", run = "mediainfo"},
  { mime = "application/subrip", run = "mediainfo"},

  # not working??
  # { mime = "application/octet-stream", run = "hexyl"},

  # Markdown
  # { name = "*.md*", run = "glow" },
  # { name = "*.md", run = "mdcat" },

  # Rich (slow, dont use for md or code)
  { name = "*.csv*", run = "rich-preview"}, # for csv files
  { name = "*.rst*", run = "rich-preview"}, # for restructured text (.rst) files
  { name = "*.ipynb*", run = "rich-preview"}, # for jupyter notebooks (.ipynb)

  #piper
  { name = "*.tar*", run  = 'piper --format=url -- tar tf "$1"' },
  { name = "*.json*", run  = 'piper -- bat -p --color=always "$1"' },
  { name = "*.md*", run  = 'piper -- CLICOLOR_FORCE=1 glow -w=$w -s=dark "$1"' },





]

append_previewers = [
  # Binary previewer
  # { mime = "text/*", run = "code"},
  { name = "*",run  = 'piper -- hexyl --border=none --terminal-width=$w "$1"'},
  # { name = "*", run = "hexyl" },
]


[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"

# [[plugin.prepend_fetchers]]
# id   = "mime"
# name = "*"
# run  = "mime-ext"
# prio = "high"
