[mgr]
# ratio = [1,2,3]
ratio = [2,4,4]
show_hidden = true
show_symlink = true
# title_format = "{cwd}"

[preview]
wrap = "yes"
max_width = 3000
max_height = 3000

[opener]


edit = [
	# { run = '$XDG_CONFIG_HOME/yazi/helix-with-title.sh "$@"', block = true, for = "unix" },
	{ run = '$HOME/.config/yazi/helix-with-title.sh "$@"', block = true, for = "unix" },
]
glow = [
	{ run = 'glow -p "$@"', block = true, orphan = false, for = "unix", desc = "open using glow" },
]
imv = [
	{ run = 'imv "$@"', block = true, orphan = false, for = "linux", desc = "open using imv" },
]
mpv = [
	{ run = 'mpv "$@"', orphan = true, for = "linux", desc = "open using mpv" },
]
zathura = [
	{ run = 'zathura "$@"', orphan = true, for = "unix", desc = "open using zathura" },
]
dragondrop = [
	{ run = 'dragon-drop -x -a "$@"', block = true, orphan = false, for = "linux", desc = "Drag and Drop" },
]

[open]
prepend_rules = [
  { mime = "image/*", use = "imv"},
  { mime = "{audio,video}/*", use = "mpv"},
	{ name = "*.pdf", use = ["zathura","open"] },
	# { name = "*.key", use = [ "quicklook", "open" ] },
	# { name = "*.pages", use = [ "quicklook", "open" ] },
	# { name = "*.doc", use = [ "quicklook", "open" ] },
	# { name = "*.docx", use = [ "quicklook", "open" ] },

	{ name = "*.md", use = [ "edit", "glow" ] },
]
append_rules = [
	{ name = "*", use = [ "edit" ,"open" , "dragondrop" ] },
]



[plugin]
prepend_previewers = [
	# Archive previewer
	{ mime = "application/*zip",            run = "ouch" },
	{ mime = "application/x-tar",           run = "ouch" },
	{ mime = "application/x-bzip2",         run = "ouch" },
	{ mime = "application/x-7z-compressed", run = "ouch" },
	{ mime = "application/x-rar",           run = "ouch" },
	{ mime = "application/x-xz",            run = "ouch" },
	# mediainfo
  { mime = "{image,audio,video}/*", run = "mediainfo"},
  { mime = "application/subrip", run = "mediainfo"},

	# not working??
  # { mime = "application/octet-stream", run = "hexyl"},

	# Markdown
  { name = "*.md*", run = "glow" },
  # { name = "*.md", run = "mdcat" },

	# Rich (slow, dont use for md or code)
  { name = "*.csv*", run = "rich-preview"}, # for csv files
  # { name = "*.md", run = "rich-preview" }, # for markdown (.md) files
  { name = "*.rst*", run = "rich-preview"}, # for restructured text (.rst) files
  { name = "*.ipynb*", run = "rich-preview"}, # for jupyter notebooks (.ipynb)
  # { name = "*.json*", run = "rich-preview"}, # for json (.json) files
]

append_previewers = [
	# Binary previewer
  # { mime = "text/*", run = "code"},
  { name = "*", run = "hexyl" },
]


[[plugin.prepend_fetchers]]
id   = "git"
name = "*"
run  = "git"

[[plugin.prepend_fetchers]]
id   = "git"
name = "*/"
run  = "git"

# [[plugin.prepend_fetchers]]
# id   = "mime"
# name = "*"
# run  = "mime-ext"
# prio = "high"
