include "src/startup.kdl"
include "src/misc.kdl"
include "src/input.kdl"
include "src/output.kdl"
include "src/recent-windows.kdl"
include "src/layer-rules.kdl"
include "src/window-rules.kdl"
include "src/switch-events.kdl"
include "src/binds.kdl"
include "src/workspaces.kdl"
include "src/layout.kdl"

debug {
    honor-xdg-activation-with-invalid-serial
}
