theme = "my-catppuccin_transparent"
# theme = "my-starlight-transparent"

[editor]
mouse           = true
auto-completion = true
completion-timeout = 50
#rulers         = [80, 120]
cursorline      = true
# cursorcolumn    = true
bufferline      = "always"
line-number     = "relative"
scrolloff       = 8
shell           = ["fish", "-c"]
color-modes     = true 
continue-comments = false

# helix doesnt seem to recognize xterm-ghostty
undercurl = true


# experimental
end-of-line-diagnostics = "hint"
# end-of-line-diagnostics = "info"

[editor.inline-diagnostics]
cursor-line = "info" 
# cursor-line = "warning" 
# other-lines = "warning"
other-lines = "error"




[editor.auto-save]
after-delay.enable  = false
after-delay.timeout = 180000 # in ms -> 3min *60*1000= 180000ms

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.statusline]
# left = ["mode", "spinner", "version-control"] #"file-name","file-absolute-path"
# # center = ["read-only-indicator","file-modification-indicator","file-name","file-modification-indicator", "read-only-indicator"]
# center = ["read-only-indicator","file-modification-indicator","file-name","file-modification-indicator", "read-only-indicator"]
# # right = ["diagnostics", "selections", "position", "position-percentage", "total-line-numbers", "file-encoding", "file-type"]
# right = ["diagnostics",  "position", "position-percentage", "total-line-numbers", "file-encoding", "separator", "file-type"]


# center = ["file-name"]
# right = ["diagnostics",  "position", "position-percentage", "total-line-numbers", "file-encoding", "separator", "file-type"]
# "version-control"
left = ["mode", "spinner", "file-modification-indicator", "file-absolute-path", "file-modification-indicator", "read-only-indicator"]
right = ["diagnostics", "version-control", "separator", "file-type", "separator",  "position", "position-percentage", "total-line-numbers", "file-encoding"]



# separator   = "│"
separator   = " ⏽"
mode.normal = "NORMAL "
mode.insert = "INSERT "
mode.select = "SELECT "

[editor.lsp]
display-inlay-hints = true
display-messages = true
auto-signature-help = true

[editor.whitespace.render]
space   = "none"
nbsp    = "all"
nnbsp   = "all"
newline = "none"
tab     = "all"

[editor.whitespace.characters]
space   = " "
nbsp    = "⍽"    # Non Breaking Space
nnbsp   = "␣"
tab     = "→"
newline = "⏎"
tabpad  = "·"  # Tabs will look like "→···" (depending on tab width)

[editor.indent-guides]
render      = true
character   = "" # Some characters that work well:╎ "▏", "┆", "┊"
skip-levels = 1

[editor.soft-wrap]
enable            = true
max-wrap          = 25
max-indent-retain = 40
wrap-indicator    = "↪"

[editor.file-picker]
hidden    = false
max-depth = 4
# ignore = true

[editor.gutters]
layout = ["diff", "diagnostics", "line-numbers", "spacer"]

# KEY REMAPPING
[keys.normal]
# QOL
esc   = ["collapse_selection", "keep_primary_selection"]
a     = ["append_mode", "collapse_selection"]
X     = "extend_line_above"
ret   = "insert_newline" # ret = ["open_below", "normal_mode"]
tab   = "indent"
S-tab = "unindent"
"+" = "@ms*"

minus = "search"
"," = "command_mode"

w = "move_prev_word_start"

# Control+j|k can be used to move lines around, WARNING: breaks when used with multiple cursors
C-j = ["extend_to_line_bounds", "delete_selection", "paste_after"]
C-k = ["extend_to_line_bounds", "delete_selection", "move_line_up", "paste_before"]

# moves selection left and right, can be used with multiple cursors
C-h = ["delete_selection", "move_char_left", "paste_before"] 
C-l = ["delete_selection", "move_char_right", "paste_before"] 

# <Y> and <P> yank and paste from the default register, <y> and <p> use a custom register "y"
# this way you can yank text, then delete stuff and still be able to paste the yanked text with <p>
# if you want to paste text you previously deleted with d you can use <P>

# use the system clipboard for yank, to use the default use Y/P
# y = "yank_to_clipboard"
# p = "paste_clipboard_after"
# P = "paste_after"
# Y = "yank"
# R = "replace_selections_with_clipboard"

# use cb clipboard
y = "@:pipe-to cb copy_hx<ret>"
p = "@p:insert-output cb paste_hx<ret>"
R = "@d:insert-output cb paste_hx<ret>"
D = "@:pipe cb copy_hxdel<ret>"

# system clipboard
Y = "yank_to_clipboard"
P = "paste_clipboard_after"

[keys.select]
k = ["extend_line_up", "extend_to_line_bounds"]
j = ["extend_line_down", "extend_to_line_bounds"]

y = "@\"+Y"
p = "@\"+P"
P = "paste_after"
Y = "yank"
[keys.normal.space.d]
d = "diagnostics_picker"
n = "goto_next_diag"
p = "goto_prev_diag"



[keys.normal.space]
w = ":write"
q = ":quit"
Q = ":buffer-close"
0 = ":quit!"

# F = "file_picker"
# only switched <f> and <F>
# f = "file_picker_in_current_directory"

# floating
# f = ":sh zellij run -n Yazi -c -f -x 10% -y 10% --width 80% --height 80% -- bash ~/.config/helix/yazi-picker.sh open"

# fullscreen
y = ":sh zellij run -n 'Yazi File Picker for Helix' -c -- bash ~/.config/helix/yazi-picker_in-place.sh open"

# standalone script
# f = ":sh $HOME/.config/helix/yazi-picker_full.sh"
# f = ":sh zellij run -n 'Yazi File Picker for Helix' -c -- bash ~/.config/helix/yazi-picker_full.sh && zellij action toggle-fullscreen"

# once https://github.com/helix-editor/helix/pull/12527 is released
# E = [
#     ":sh rm -f /tmp/unique-file-h21a434",
#     ":insert-output yazi '%{buffer_name}' --chooser-file=/tmp/unique-file-h21a434",
#     ":insert-output echo \"x1b[?1049h\" > /dev/tty",
#     ":open %sh{cat /tmp/unique-file-h21a434}",
#     ":redraw"
#     ]

# runs toggle_script on the last word in the current line
# see toggle_script at fish/functions/toggle_script.fish
l = "@glbe|toggle_script<ret>"
# yazi side bar for helix using zellij terminal multiplexer
# Y = ":sh zellij run -c --name 'sidebar' -- fish ~/.config/helix/yazi-picker.fish && zellij action move-pane left && zellij action resize -"

[keys.normal.m]
u = "switch_to_uppercase"
l = "switch_to_lowercase"
t = "switch_case"

##################
#    SNIPPETS    #
##################
[keys.normal.space.n]
# if err not nil with error log
n = '''@oif err != nil {<esc>doh.Logger.Error("", "err", err)<esc>o<backspace>}<esc>kgl13hi'''

# if err != nil snippet
e = '''@oif err != nil {
}<esc>ko<tab>'''

# log <level> - adds log with the given level
l.e = '@oh.Logger.Error("", "err", err)<esc>14hi'
l.w = '@oh.Logger.Warn("")<esc>2hi'
l.i = '@oh.Logger.Info("")<esc>2hi'
l.d = '@oh.Logger.Debug("")<esc>2hi'

# log add - adds yanked var to existing log entry
l.a = '@gli, "", <esc>4hp3lP'
