[[language]]
name = "typescript"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "vue"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "vue"] }
# formatter = { command = "pnpm", args = ["lint", "--fix"] }
language-servers = [
# "scls",
# "typescript-language-server",
# "tailwindcss-ls",
"eslint",
# "emmet-ls",
]

[[language-server.typescript-language-server.config.plugins]]
name = "@vue/typescript-plugin"
languages = ["vue"]
location = "/nix/store/yfyklm0c1rsl8qwqin64fc4qgcpkgp7j-vue-language-server-3.0.6/lib/language-tools/packages/language-server/bin/vue-language-server.js"

[language-server.eslint]
command = "pnpm"
args = [ "exec", "vscode-eslint-language-server", "--stdio" ]
[language-server.eslint.config]
# format = { enable = true }
format = true
# codeActionsOnSave = { mode = "all", "source.fixAll" = "never", "source.fixAll.eslint" = "explicit" }
codeActionsOnSave = { mode = "all" }
packageManager = "pnpm"
nodePath = ""
quiet = false
rulesCustomizations = []
run = "onType"
validate = "on"
experimental = {}
problems = { shortenToSingleLine = false }
workingDirectory = { mode = "auto" }

[language-server.eslint.config.codeAction]
disableRuleComment = { enable = true, location = "separateLine" }
showDocumentation = { enable = true }


[language-server.emmet-ls]
command = "pnpm"
args = [ "emmet-ls", "--stdio" ]

[language-server.scls]
command = "simple-completion-language-server"
[language-server.scls.config]
max_completion_items = 3             # set max completion results len for each group: words, snippets, unicode-input
feature_words = false                # enable completion by word
feature_snippets = true              # enable snippets
snippets_first = true                # completions will return before snippets by default
snippets_inline_by_word_tail = false # suggest snippets by WORD tail, for example text `xsq|` become `x^2|` when snippet `sq` has body `^2`
feature_unicode_input = false        # enable "unicode input"
feature_paths = false                # enable path completion
[language-server.scls.environment]
RUST_LOG = "info,simple-completion-language-server=info"
LOG_FILE = "/tmp/simple-completion-lsp.log"

# custom markdown-pdf
# [[language]]
# name = "markdown-pdf"
# scope = "source.markdown"
# file-types = ["pdfmd"]
# language-servers = [ "marksman" ]
# # indent = { tab-width = 2, unit = "  " }
# # block-comment-tokens = { start = "<!--", end = "-->" }
# # formatter = { command = "pandoc", args = ["--output", "output.pdf"] }

# markdown zk zettelkasten
[[language]]
name = "markdown"
# language-servers = [ "zk", "marksman", "markdown-oxide" ]
language-servers = [ "zk" ]
[language-server.zk]
command = "zk"
args = [ "lsp" ]


[language-server.colors] # once https://github.com/helix-editor/helix/pull/12308 is released
command = "uwu_colors"
# args = [ "--variable-completions" ]
# [[language]]
# name = "toml"
# language-servers = ["colors"]

# Typst
[[language]]
name = "typst"
language-servers = ["tinymist"]
auto-format = true
formatter = { command = "typstyle" }

[language-server.tinymist]
command = "tinymist"
[language-server.tinymist.config]
outputPath = "$root/target/$dir/$name"
# exportPdf = "onType" # use onType when not using the html web preview below
# exportPdf = "onSave"
preview.background.enabled = true
# preview.background.args = ["--data-plane-host=127.0.0.1:23635", "--invert-colors=auto"] #light mode
preview.background.args = ["--data-plane-host=127.0.0.1:23635", "--invert-colors=never"] # dark mode
  # Typst END

# Nix
[[language]]
name = "nix"
auto-format = true
formatter = { command = "nixfmt" }
  # Nix END

# GOLANG
[[language]]
name = "go"
auto-format = true
formatter = { command = "goimports" }
# language-servers = [ "helix-gpt" ]
# language-servers = [ "lsp-ai" ]
# language-servers = [ "gopls", "golangci-lint-lsp", "scls" ]
language-servers = ["gopls", "golangci-lint-lsp"]
# language-servers = [ "gopls", "golangci-lint-langserver", { name = "helix-gpt", except-features = [ "code-action" ] } ]
# language-servers = [ "gopls", "golangci-lint-langserver", "helix-gpt" ]


# fix for golangci-lint v2 removing "--out-format json". fix already merged to main so can probably be removed after next version. current version: helix 25.01.1 (e7ac2fcd)
[language-server.golangci-lint-lsp.config]
command = [
  "golangci-lint",
  "run",
  "--output.json.path=stdout",
  "--show-stats=false",
  "--issues-exit-code=1",
]

[[language]]
name = "templ"
auto-format = true
language-servers = [ "templ", "tailwindcss-ls" ]

[language-server.tailwindcss-ls]
config = { userLanguages = { templ = "html", "*.templ" = "html" } }

[[language]]
name = "c"
auto-format = true
# language-servers = [ "clangd", { name = "helix-gpt", only-features = [ "completion" ] } ]
language-servers = [
  "clangd",
  { name = "helix-gpt", except-features = [
    "code-action",
  ] },
]
# indent = { tab-width = 4, unit = "\t" }

[[language]]
name = "bash"
scope = "source.bash"
injection-regex = "(shell|bash|zsh|sh)"
file-types = [
  { glob = "ghostty/*" },
  { glob = ".config/**/config" },
  { glob = "*.conf" },
  { glob = "*rc" },
]

# added .keymap and .overlay files from zmk
# TODO: maybe do sth like glob: zmk*/**/*.keymap if there are other .keymap files

[[language]]
name = "python"
auto-format = true
language-servers = [
  "ruff",
  # "jedi",
  "pylsp"
]

[[language]]
name = "devicetree"
file-types = ["dts", "dtsi", "keymap", "overlay"]


# FISH
[[language]]
name = "fish"
# TODO: broken
# language-servers = [ "fish-lsp" ]
# language-servers = [ "fish-lsp", "helix-gpt" ]

[language-server.fish-lsp]
command = "fish-lsp"
args = ["start"]


# LATEX 
[[language]]
name = "latex"
# language-servers = [ "texlab", "helix-gpt" ]
language-servers = ["texlab"]

[language-server.texlab.config.texlab.chktex]
onOpenAndSave = true
onEdit = true

[language-server.texlab.config.texlab.forwardSearch]
executable = "/Applications/Skim.app/Contents/SharedSupport/displayline"
args = ["-g", "-r", "%l", "%p", "%f"]
# executable = "zathura"
# args = [ "--synctex-forward", "%l:%c:%f", "%p" ]

[language-server.texlab.config.texlab.build]
auxDirectory = "build"
logDirectory = "build"
pdfDirectory = "build"
forwardSearchAfter = true
onSave = true
executable = "tectonic"
args = [
  "-X",
  "compile",
  "--synctex",
  "--keep-logs",
  # "--keep-intermediates",
  "--outdir=build",
  "%f",
]

[[language]]
name = "bibtex"

[language-server.bibtex]
filetypes = "bib"
event = "save"
command = "bibtex-tidy %file%"


# HELIX-GPT

# OLLAMA
# [language-server.helix-gpt]
# timeout = 60
# command = "/Users/max/.config/helix/helix-gpt/deno/helix-gpt-deno/helix-gpt"
# args = [
#  "--handler", "ollama",
#  "--ollamaEndpoint", "http://192.168.178.22:11434",
#  "--ollamaModel", "qwen2.5-coder",
#  "--logFile", "/Users/max/.config/helix/helix-gpt/ollama.log"
# ]

# CODEIUM
[language-server.helix-gpt]
timeout = 60
command = "/Users/max/code/personal/helix-gpt/helix-gpt-deno/helix-gpt"
args = [
  "--handler",
  "codeium",
  # "--logFile", "/Users/max/code/personal/helix-gpt/helix-gpt-deno/helix-gpt/log/codeium.log",
]


# openai
# [language-server.helix-gpt]
# timeout = 60
# # command = "/Users/max/Documents/data-up/code/private/helix-gpt/helix-gpt-deno/helix-gpt"
# command = "/Users/max/code/personal/helix-gpt/helix-gpt-deno/helix-gpt"
# args = [
#  "--handler", "openai",
#  "--logFile", "/Users/max/Documents/data-up/code/private/helix-gpt/openai-llama.log",
# ]


##############################
## Configuration for lsp-ai ##
##############################
# not working, crashes on start
# 2025-02-07T22:06:21.189 helix_lsp::transport [ERROR] lsp-ai err: <- StreamClosed

[language-server.lsp-ai]
command = "lsp-ai"
args = ["--use-seperate-log-file"]

[language-server.lsp-ai.config.memory]
file_store = {}

[language-server.lsp-ai.config.models.model1]
type = "open_ai"
chat_endpoint = "https://192.168.178.22:8080/v1/chat/completions"
completions_endpoint = "https://192.168.178.22:8080/v1/completions"
model = "gpt-3.5-turbo"
auth_token = ""

[language-server.lsp-ai.config.completion]
model = "model1"

[language-server.lsp-ai.config.completion.parameters]
max_tokens = 64
max_context = 1024

## Configure the messages per your needs
[[language-server.lsp-ai.config.completion.parameters.messages]]
role = "system"
content = "Instructions:\n- You are an AI programming assistant.\n- Given a piece of code with the cursor location marked by \"<CURSOR>\", replace \"<CURSOR>\" with the correct code or comment.\n- First, think step-by-step.\n- Describe your plan for what to build in pseudocode, written out in great detail.\n- Then output the code replacing the \"<CURSOR>\"\n- Ensure that your completion fits within the language context of the provided code snippet (e.g., Python, JavaScript, Rust).\n\nRules:\n- Only respond with code or comments.\n- Only replace \"<CURSOR>\"; do not include any previously written code.\n- Never include \"<CURSOR>\" in your response\n- If the cursor is within a comment, complete the comment meaningfully.\n- Handle ambiguous cases by providing the most contextually appropriate completion.\n- Be consistent with your responses."
