[[language]]
name = "go"
auto-format = true    
formatter = { command = "goimports" }
language-servers = [ "gopls", "golangci-lint-lsp" ]
# language-servers = [ "gopls", "golangci-lint-langserver", { name = "helix-gpt", except-features = [ "code-action" ] } ]
# language-servers = [ "gopls", "golangci-lint-langserver", "helix-gpt" ]
 

[[language]]
name = "c"
auto-format = true
# language-servers = [ "clangd", { name = "helix-gpt", only-features = [ "completion" ] } ]
language-servers = [ "clangd", { name = "helix-gpt", except-features = [ "code-action" ] } ]
# indent = { tab-width = 4, unit = "\t" }

[[language]]
name = "bash"
scope = "source.bash"
injection-regex = "(shell|bash|zsh|sh)"
file-types = [{ glob = "ghostty/*" }, { glob = ".config/**/config" }, { glob = "*.conf" }, { glob = "*rc" }]

# added .keymap and .overlay files from zmk
# TODO: maybe do sth like glob: zmk*/**/*.keymap if there are other .keymap files
[[language]]
name = "devicetree"
file-types = ["dts", "dtsi", "keymap", "overlay"]



# [[language]]
# name = "arduino"
# scope = "source.ino"
# file-types = ["ino"]
# # language-servers = [ "arduino" ]
# language-servers = [ "clangd-arduino" ]

# [language-server.arduino]
# # filetypes = ["ino"]
# command = "arduino-language-server" 
# args = [
#     "-cli-config", "/path/to/arduino-cli.yaml",
#     "-clangd", "/usr/local/opt/llvm/bin/clangd",
#     "-cli", "/usr/local/bin/arduino-cli",
#     "-cli", "-config $HOME/arduino/arduino-cli.yaml",
#     "-fqbn", "arduino:avr:uno"
# ] 

# [language-server.clangd-arduino]
# command = "clangd" 



# [language-server.test]
# command = "clang-format"
# args = ["--fallback-style={BasedOnStyle: LLVM, IndentWidth: 4, TabWidth: 4, UseTab: Never}"] 


[[language]]
name = "fish"
language-servers = [ "fish-lsp", "helix-gpt" ]

[language-server.fish-lsp]
command = "fish-lsp"
args= ["start"]

# LATEX config
[[language]]
name = "latex"
# language-servers = [ "texlab", "helix-gpt" ]
language-servers = [ "texlab" ]

[language-server.texlab.config.texlab.chktex]
onOpenAndSave = true
onEdit = true

[language-server.texlab.config.texlab.forwardSearch]
executable = "/Applications/Skim.app/Contents/SharedSupport/displayline"
args = [ "-g", "-r", "%l", "%p", "%f" ]
# executable = "zathura"
# args = [ "--synctex-forward", "%l:%c:%f", "%p" ]

[language-server.texlab.config.texlab.build]
auxDirectory = "build"
logDirectory = "build"
pdfDirectory = "build"
forwardSearchAfter = true
onSave = true
executable = "tectonic"
args = [
 "-X",
 "compile",
 "--synctex",
 "--keep-logs",
 # "--keep-intermediates",
 "--outdir=build",
 "%f",
]

[[language]]
name = "bibtex"

[language-server.bibtex]
filetypes = "bib"
event = "save"
command = "bibtex-tidy %file%"

# OLLAMA
# [language-server.helix-gpt]
# timeout = 60
# command = "/Users/max/.config/helix/helix-gpt/deno/helix-gpt-deno/helix-gpt"
# args = [
#  "--handler", "ollama",
#  "--ollamaEndpoint", "http://192.168.178.22:11434",
#  "--ollamaModel", "qwen2.5-coder",
#  "--logFile", "/Users/max/.config/helix/helix-gpt/ollama.log"
# ]

# CODEIUM
[language-server.helix-gpt]
timeout = 60
command = "/Users/max/Documents/data-up/code/private/helix-gpt/helix-gpt-deno/helix-gpt"
args = [
 "--handler", "codeium",
 "--logFile", "/Users/max/Documents/data-up/code/private/helix-gpt/codeium.log",
]


# openai
# [language-server.helix-gpt]
# timeout = 60
# command = "/Users/max/Documents/data-up/code/private/helix-gpt/helix-gpt-deno/helix-gpt"
# args = [
# #  "--handler", "openai",
#  "--logFile", "/Users/max/Documents/data-up/code/private/helix-gpt/openai.log",
# ]
