/* CSS variables for Waybar
 * You can add it to wallust.toml with:

waybar = { src = "waybar.css", dst = "~/.config/waybar/colors.css" }

 * And then in you waybar 'style.css' file, import it with:

@import url("colors.css");
 */

@define-color cursor #CDD6F4;
/* @define-color background #1E1E2E; */
@define-color background #000000;
@define-color foreground #CDD6F4;
@define-color color0 #45475A;
@define-color color1 #F38BA8; /* light red */
@define-color color2 #A6E3A1; /* light green */
@define-color color3 #F9E2AF; /* light yellow */
@define-color color4 #89B4FA; /* light blue */
@define-color color5 #F5C2E7; /* light pink */
@define-color color6 #94E2D5; /* turquoise */
@define-color color7 #BAC2DE;
@define-color color8 #585B70; /* dark gray */
@define-color color9 #A6ADC8;
