layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="file:/Users/max/.config/zellij/plugins/zjstatus.wasm" {

                // my custom catppuccin theme                          
                color_white "#cad3f5"
                color_black "#181926"

                color_light-grey "#939ab7"
                color_dark-grey "#6e738d"

                color_fg "#cad3f5"
                color_bg "#24273a"
                // color_bg "#1e2030"

                color_red "#ed8796"
                color_green "#a6da95"
                color_yellow "#eed49f"
                color_blue "#8aadf4"
                color_magenta "#c6a0f6"
                color_cyan "#7dc4e4"
                color_orange "#f5a97f"
                color_mauve "#c6a0f6"



                
                format_left   "{mode}#[bg=$bg] #[bg=$bg,fg=$orange]#[bg=$orange,fg=$bg]{session} #[bg=$bg,fg=$orange]#[bg=$bg] {tabs}"


                // format_left   "{mode}#[bg=$bg] {tabs}#[fg=$bg]"

                // format_center "#[bg=$bg,fg=$dark-grey]  #[bg=$bg,fg=$dark-grey]{swap_layout}"
                // format_center "#[bg=$bg,fg=$dark-grey] Zellij: #[bg=$bg,fg=$dark-grey]{session}"
                // format_center "#[fg=$bg]#[bg=$bg,fg=$dark-grey] Zellij: #[bg=$bg,fg=$dark-grey]{session}#[fg=$bg]"

                // format_right  "#[fg=$light-grey,bg=$bg]{datetime}"                       // no round edges 
                format_right  "#[fg=$light-grey,bg=$bg]{datetime}#[bg=$bg] #[fg=$bg]"     // right side 
                // format_right  "#[fg=$bg]#[fg=$light-grey,bg=$bg]{datetime}#[fg=$bg]" // both sides  

                format_space  "#[bg=$bg]"
                // format_space  ""

                format_hide_on_overlength "true"
                format_precedence "lrc"

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"
                hide_frame_except_for_search "true"
                hide_frame_except_for_scroll "true"

                // 󰘳  󰀶   󰀵        
                //        󰘻      󰸳 󱥸  
                mode_normal        "#[fg=$mauve]#[bg=$mauve,fg=$bg,bold]#[bg=$bg,fg=$mauve]"
                // mode_normal        "#[fg=$mauve]#[bg=$mauve,fg=$bg,bold]󰘳 #[bg=$bg,fg=$mauve]"
                // mode_normal        "#[fg=$mauve]#[bg=$mauve,fg=$bg,bold] 󰀵 #[bg=$bg,fg=$mauve]"
                // mode_normal        "#[fg=$mauve]#[bg=$mauve,fg=$bg,bold]NORMAL#[bg=$bg,fg=$mauve]"
                // mode_normal        "#[fg=$mauve]#[bg=$mauve,fg=$bg,bold] #[bg=$bg,fg=$mauve]"
                // mode_normal        "#[fg=$green]#[bg=$green,fg=$bg,bold] #[bg=$bg,fg=$green]"
                mode_locked        "#[fg=$red]#[bg=$red,fg=$bg,bold]LOCKED  #[bg=$bg,fg=$red]"
                mode_resize        "#[fg=$blue]#[bg=$blue,fg=$bg,bold]RESIZE#[bg=$bg,fg=$blue]"
                mode_pane          "#[fg=$blue]#[bg=$blue,fg=$bg,bold]PANE#[bg=$bg,fg=$blue]"
                mode_tab           "#[fg=$yellow]#[bg=$yellow,fg=$bg,bold]TAB#[bg=$bg,fg=$yellow]"
                mode_scroll        "#[fg=$blue]#[bg=$blue,fg=$bg,bold]SCROLL#[bg=$bg,fg=$blue]"
                mode_enter_search  "#[fg=$orange]#[bg=$orange,fg=$bg,bold]ENTER-SEARCH#[bg=$bg,fg=$orange]"
                mode_search        "#[fg=$orange]#[bg=$orange,fg=$bg,bold]SEARCH#[bg=$bg,fg=$orange]"
                mode_rename_tab    "#[fg=$yellow]#[bg=$yellow,fg=$bg,bold]RENAME-TAB#[bg=$bg,fg=$yellow]"
                mode_rename_pane   "#[fg=$blue]#[bg=$blue,fg=$bg,bold]RENAME-PANE#[bg=$bg,fg=$blue]"
                mode_session       "#[fg=$blue]#[bg=$blue,fg=$bg,bold]SESSION#[bg=$bg,fg=$blue]"
                mode_move          "#[fg=$blue]#[bg=$blue,fg=$bg,bold]MOVE#[bg=$bg,fg=$blue]"
                mode_prompt        "#[fg=$blue]#[bg=$blue,fg=$bg,bold]PROMPT#[bg=$bg,fg=$blue]"
                mode_tmux          "#[fg=$green]#[bg=$green,fg=$bg,bold]LEADER#[bg=$bg,fg=$green]"

                // TODO: switch index with indicators
                // formatting for inactive tabs
                // tab_normal            "#[bg=$bg,fg=$blue]#[bg=$blue,fg=$bg,bold]{index}{floating_indicator}#[bg=$bg,fg=$blue,bold]"
                // tab_normal_fullscreen "#[bg=$bg,fg=$blue]#[bg=$blue,fg=$bg,bold]{index}{fullscreen_indicator}#[bg=$bg,fg=$blue,bold]"
                // tab_normal_sync       "#[bg=$bg,fg=$blue]#[bg=$blue,fg=$bg,bold]{index}{sync_indicator}#[bg=$bg,fg=$blue,bold]"



                // formatting for inactive tabs (no color)
                tab_normal            "#[bg=$bg,fg=$light-grey]{index}{floating_indicator}{name}"
                tab_normal_fullscreen "#[bg=$bg,fg=$light-grey]{index}{fullscreen_indicator}{name}"
                tab_normal_sync       "#[bg=$bg,fg=$light-grey]{index}{sync_indicator}{name}"

                // active
                tab_active            "#[bg=$bg,fg=$white,bold]{index}{floating_indicator}#[bg=$bg,fg=$light-grey,bold]#[bg=$bg,fg=$white,bold]{name}"
                tab_active_fullscreen "#[bg=$bg,fg=$white,bold]{index}{fullscreen_indicator}#[bg=$bg,fg=$light-grey,bold]#[bg=$bg,fg=$white,bold]{name}"
                tab_active_sync       "#[bg=$bg,fg=$white,bold]{index}{sync_indicator}#[bg=$bg,fg=$light-grey,bold]#[bg=$bg,fg=$white,bold]{name}"

                // tab_active            "#[bg=$bg,fg=$dark-grey]#[bg=$dark-grey,fg=$bg,bold]{floating_indicator}{index}#[bg=$bg,fg=$dark-grey,bold]"
                // tab_active_fullscreen "#[bg=$bg,fg=$dark-grey]#[bg=$dark-grey,fg=$bg,bold]{fullscreen_indicator}{index}#[bg=$bg,fg=$dark-grey,bold]"
                // tab_active_sync       "#[bg=$bg,fg=$dark-grey]#[bg=$dark-grey,fg=$bg,bold]{sync_indicator}{index}#[bg=$bg,fg=$dark-grey,bold]"


                
                // formatting for the current active tab (NO NAME)
                // tab_active              "#[bg=$bg,fg=$cyan]#[bg=$cyan,fg=$bg,bold] {index}{floating_indicator} #[bg=$bg,fg=$cyan,bold]"
                // tab_active_fullscreen   "#[bg=$bg,fg=$cyan]#[bg=$cyan,fg=$bg,bold] {index}{fullscreen_indicator} #[bg=$bg,fg=$cyan,bold]"
                // tab_active_sync         "#[bg=$bg,fg=$cyan]#[bg=$cyan,fg=$bg,bold] {index}{sync_indicator} #[bg=$bg,fg=$cyan,bold]"

                // formatting for the current active tab (shows name on active tab)
                // tab_active            "#[bg=$bg,fg=$green]#[bg=$green,fg=$bg,bold] {floating_indicator} {index} {name}#[bg=$bg,fg=$green,bold]"
                // tab_active_fullscreen "#[bg=$bg,fg=$green]#[bg=$green,fg=$bg,bold] {fullscreen_indicator} {index} {name}#[bg=$bg,fg=$green,bold]"
                // tab_active_sync       "#[bg=$bg,fg=$green]#[bg=$green,fg=$bg,bold] {sync_indicator} {index} {name}#[bg=$bg,fg=$green,bold]"

                // separator between the tabs
                tab_separator           "#[fg=$dark-grey,bg=$bg] ⏽ "

                // indicators
                tab_sync_indicator       " "
                tab_fullscreen_indicator " " // 󰊓     
                tab_floating_indicator   " 󰹙"


                // command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                // command_git_branch_format      "#[fg=$blue] {stdout} "
                // command_git_branch_interval    "10"
                // command_git_branch_rendermode  "static"

                datetime        "{format}"
                datetime_format "%Y-%m-%d ⏽ %H:%M"
                datetime_timezone "Europe/Berlin"
            }
        }
        children
        // pane size=2 borderless=true {
        //     plugin location="status-bar"
        // }
    }
    tab name=" " 
}
