prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"
hotkey-overlay {
    skip-at-startup
    hide-not-bound
}
cursor {
    hide-when-typing
    hide-after-inactive-ms 5000
    xcursor-size 24
    xcursor-theme "capitaine-cursors-white" // dir name at /run/current-system/sw/share/icons
}

overview {
    backdrop-color "#000000"
    workspace-shadow { off; }
    zoom 0.3
}

gestures {
    hot-corners {
        // off
        top-left
    }
}

// https://github.com/YaLTeR/niri/wiki/Configuration:-Animations
animations {
    // off
    slowdown 0.7
}
