// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
output "eDP-1" {
    // off
    // The format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "2880x1800@120"
    scale 2
    // scale 2.2
    // transform "normal" // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    variable-refresh-rate
    // variable-refresh-rate on-demand=true
    position x=0 y=0
}

