// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

spawn-at-startup "systemctl" "--user" "restart" "foot-server.socket" // the socket fails in the systemd service

spawn-at-startup "vicinae" "server"

spawn-at-startup "brightnessctl" "s" "0" "-d" "platform::micmute"

// set volume at startup
spawn-at-startup "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "0"
spawn-sh-at-startup "wpctl set-volume @DEFAULT_AUDIO_SINK@ 15% && notify-send -e -t 2000 'Volume' 'Set to 15%'"

spawn-sh-at-startup "sleep 3 && $NH_FLAKE/scripts/activitywatch/remove-private-browsing.ts"
