// https://github.com/YaLTeR/niri/wiki/Configuration:-Introduction

spawn-at-startup "systemctl" "--user" "restart" "foot-server.socket" // the socket fails in the systemd service

spawn-at-startup "bash" "-c" "sleep 5 && $NH_FLAKE/scripts/fix_audio.sh"
spawn-at-startup "bash" "-c" "sleep 5 && $NH_FLAKE/scripts/led-mic-mute-off.sh"
spawn-at-startup "bash" "-c" "sleep 5 && $NH_FLAKE/scripts/systray-apps.sh"
spawn-at-startup "bash" "-c" "sleep 5 && $NH_FLAKE/scripts/activitywatch/remove-private-browsing.ts"
