// https://github.com/YaLTeR/niri/wiki/Configuration:-Window-Rules
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}

window-rule {
    match is-floating=true
    geometry-corner-radius 4
    clip-to-geometry true
}

window-rule {                                                                                             
    match app-id="firefox"                                                                                
    open-maximized-to-edges true                                                                                   
    // focus-ring { off; }
    // border { off; }
    // geometry-corner-radius 0
    // clip-to-geometry false
}

window-rule {
    match app-id="firefox" title="^Extension"
    default-column-width { proportion 0.33; }
    // open-floating true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id="firefox$" title="^Picture-in-Picture$"
    default-column-width { proportion 0.33; }
    open-floating true
}
window-rule {
    match app-id="bitwarden"
    block-out-from "screen-capture"
    // Use this instead if you want them visible on third-party screenshot tools.
    // block-out-from "screencast"
}

window-rule {
    match app-id="footclient"
    default-column-width { proportion 0.5; }
}

window-rule {
    match app-id="footclient" title="ToDo"
    default-column-width { proportion 0.33; }
    // open-floating true
}


// Indicate screencasted windows with red colors.
/-window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

window-rule {
    match app-id="footclient" title="Calculator"
    default-column-width { proportion 0.33; }
    open-floating true
}

